build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    HELM_OPTS=""
    helm upgrade test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-04-05T04:19:38.952Z
